// Package eddsa provides EdDSA signature scheme on {{.Name}}'s {{if ne .Package "twistededwards"}}{{.Package}} {{end}}twisted edwards curve.
// 
// See also
//
// https://en.wikipedia.org/wiki/EdDSA
package eddsa