import (
	"{{.FieldPackagePath}}"
	"github.com/consensys/gnark-crypto/utils"
)
{{range .Pools}}
// Pool{{.ExtensionName}} is a pool of slices of {{.ElementType}}
type Pool{{.ExtensionName}} = utils.Pool[{{.ElementType}}]

// NewPool{{.ExtensionName}} returns a Pool{{.ExtensionName}} whose sub-pools hold slices of capacity up to each of maxN
func NewPool{{.ExtensionName}}(maxN ...int) Pool{{.ExtensionName}} {
	return utils.NewPool[{{.ElementType}}](maxN...)
}
{{end}}